{% extends 'layouts/app.html.twig' %}

{% block title %}Publishers{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-secondary rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h2 mb-0 text-white lh-1">Издатели</h1>
        </div>
    </div>
    <div class="mb-3">
        {% for publisher in publishers %}
            <h2><a href="{{ path('publisher_show', { 'id': publisher.id }) }}">{{ publisher.name }}</a></h2>
        {% endfor %}
    </div>
{% endblock %}
