{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-success flash-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}